@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// font-family: 'Montserrat', sans-serif;


$color1: black;
$color2: white;
$color3: rosybrown;
$color4: rgb(66, 64, 64);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-c {
    text-align: center;
    background-color: $color1;
    color: $color2;
    font-family: 'Montserrat', sans-serif;

    .dropdown-menu {
        background-color: $color1;

        .dropdown-item {
            background-color: $color1;
        }
        a:hover {
            color: $color3;
        }
    }

    a {
        color: $color2;
    }
}